<div class="booking-box">
  <div class="price-info">
    <div class="initial-price">
      <span class="bigger-price"> <strong><%=@watch.price_per_day%> € </strong></span><span> par jour</span>
    </div>
    <div class="resultat hidden">
      <strong><span class="price bigger-price"> €</span></strong> pour <span class="test-of-days"> jours</span>
    </div>
  </div>
    <hr color="gray">
  <%= simple_form_for [@watch, Booking.new] do |f| %>
    <%= f.input :booking_start_date, label: 'Date de début', as: :date, html5: true, input_html: { :class => 'date-picker date-first' } %>
    <%= f.input :booking_end_date, label: 'Date de fin', as: :date, html5: true, input_html: { class: 'date-picker date-end' } %>
    <%= f.submit "Demande de réservation", class: "btn btn-success btn-resa" %>
  <% end %>
</div>

