<div class="banner-show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= @booking.watch.photo %>);">
        <%= link_to "Retour", watches_path, class: "btn-return" %>
  </div>

<div class="container">
  <div class="booking margin-top-negative">
    <div class="booking-info">
    <p>RESERVATION #<%= @booking.id%>-<%=@booking.created_at%></p>
  </div>
  <h3>Vous avez réservé une montre <%= @booking.watch.brand %></h3></br>
  <%= link_to user_path(@booking.customer) do %>
    <% if @booking.customer.photo.present? %>
      <%= cl_image_tag @booking.customer.photo, width: 100, crop: :fill, class: "pic-customer-booking text-center" %>
    <% else %>
      <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: "pic-customer-booking text-center") %>
    <%end%>
  <%end%>
  <div class="booking-details">
    <p>Cher(e) <%= @booking.customer.first_name %>, votre réservation de la montre <strong> <%= @booking.watch.brand %> - <%= @booking.watch.model %> </strong><br/> pour la période <strong> du <%= @booking.booking_start_date %> au <%= @booking.booking_end_date %></strong> a bien été prise en compte.<br/><strong><%=@booking.owner.first_name%></strong> va prendre contact avec vous concernant la livraison.</p>
    <hr color="gray">
    <h4 class="text-left">Détails de la montre</h4>
    <div class="booking-details-montre">
      <img class="booking-details-montre-pic" src="<%= @booking.watch.photo %>">
      <div class="booking-details-montre-descriptif">
        <ul>
          <li>Genre : <%= @booking.watch.gender %></li>
          <li>Style : <%= @booking.watch.style %></li>
          <li>Couleur : <%= @booking.watch.color %></li>
          <li>Matière : <%= @booking.watch.case_material %></li>
          <li>Méchanisme : <%= @booking.watch.mechanism %></li>
          <li>Année de production : <%= @booking.watch.production_year %></li>
        </ul>
      </div>
    </div>
    <hr color="gray">
    <h4 class="text-left">A propos du propriétaire</h4>
    <div class="booking-details-montre">
        <div>
          <%= link_to user_path(@booking.owner) do %>
            <% if @booking.owner.photo.present? %>
              <%= cl_image_tag @booking.owner.photo, width: 100, crop: :fill, class: "pic-customer-booking" %>
            <% else %>
              <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: "pic-customer-booking") %>
            <%end%>
          <%end%>
        </div>
        <div style="padding:20px">
          <strong><%= link_to "#{@booking.owner.first_name} #{@booking.owner.last_name}", user_path(@booking.owner) %></strong>
          <br/>
          <%= @booking.owner.description%>
        </div>
      </div>
    </div>
    <hr color="gray">
    <div class="messagerie text-left">
      <h4>Vos messages avec <%=@booking.owner.first_name%></h4>
    </div>
    <hr color="gray">
    <div class="review text-left">
      <h4>Ajoutez une review</h4>
      <%= render "reviews/form" %>
      <h4>Vos reviews avec <%=@booking.owner.first_name%></h4>
      <% @booking.reviews.each do |review| %>
        <% if review.customer != nil %>
          <h3><%= "Voici la review de #{review.customer.first_name}" %></br></h3>
        <% end %>
        <% if review.owner != nil %>
          <h3><%= "Voici la review de #{review.owner.first_name}" %></br></h3>
        <% end %>
        <p><%= review.comment %></br></p>
        <p><%= review.rating %></br></p>
      <% end %>
    </div>
  </div>
</div>

