<div class="banner-show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.luxymind.fr/wp-content/uploads/2018/01/montre-daniel-wellington.jpg');">
        <%= link_to "Retour", watches_path, class: "btn-return" %>
  </div>

<div class="container">
  <div class="booking margin-top-negative">
    <div class="booking-info">
    <p>RESERVATION #<%= @booking.id%>-<%=@booking.created_at%></p>
  </div>
  <h3>Vous avez réservé une montre <%= @booking.watch.brand %></h3></br>
  <img class="pic-customer-booking text-center" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <div class="booking-details">
    <p>Cher(e) <%= @booking.customer.first_name %>, votre réservation de la montre <strong> <%= @booking.watch.brand %> - <%= @booking.watch.model %> </strong><br/> pour la période <strong> du <%= @booking.booking_start_date %> au <%= @booking.booking_end_date %></strong> a bien été prise en compte.<br/><strong><%=@booking.owner.first_name%></strong> va prendre contact concernant la livraison.</p>
    <hr color="gray">
    <div class="booking-details-montre">

      <div class="flex">
        <div>
          <h4>Détails de la montre</h4>
          <div class="flex">
            <img class="booking-details-montre-pic" src="https://i.ebayimg.com/images/g/VQUAAOSwZ11aZgWn/s-l300.jpg">
          <div class="booking-details-montre-descriptif">
            <ul>
              <li>Genre : <%= @booking.watch.gender %></li>
              <li>Style : <%= @booking.watch.style %></li>
              <li>Couleur : <%= @booking.watch.color %></li>
              <li>Matière : <%= @booking.watch.case_material %></li>
              <li>Méchanisme : <%= @booking.watch.mechanism %></li>
              <li>Année de production : <%= @booking.watch.production_year %></li>
            </ul>
          </div>
        </div>

      </div>
      <div>
          <h4>A propos du propriétaire</h4>
          <div class="booking-details-montre-owner">
            <img class="pic-customer-booking" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <strong>Owner</strong>
            <%= link_to "#{@booking.owner.first_name} #{@booking.owner.last_name}", user_path(@booking.owner) %>
            <%= @booking.owner.description%>
        </div>
      </div>
    </div>
  </div>
  <hr color="gray">
  <div class="messagerie text-left">
  <h4>Vos messages avec <%=@booking.owner.first_name%></h4>
  </div>
</div>

</div>
</div>

