<div class="banner-user">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <% if @user.photo.present? %>
        <%= cl_image_tag @user.photo, width: 100, crop: :fill, class: "avatar avatar-big" %>
        <% else %>
        <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: "avatar-big") %>
      <%end%>
    </div>
    <div class="col-xs-12 col-md-6">
      <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
      <% ratings = 0 %>
      <% total_rating = 0 %>
      <% @user.bookings.each do |booking| %>
        <% booking.reviews.each do |review| %>
          <% if review.owner.present? && review.rating.present? %>
            <% review.rating %>
            <% total_rating = total_rating + review.rating %>
            <% ratings += 1 %>
          <% end %>
        <% end %>
      <% end %>
      <div class="star-ratings-css">
        <div class="star-ratings-css-top" style="width: <%= (((total_rating.fdiv(ratings)) / 5) * 110) %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
        <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      </div>
      <p><%= @user.description %></p>
      <%= link_to edit_user_path(@user) do %>
        <i class="fas fa-edit"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="buttons">
      <button class="radius-loc btn btn-primary btn-loc">vue Locataire</button>
      <button class="radius-prop btn enabled btn-prop">vue Propriétaire</button>
    </div>
    <div class="row loc">
      <h1>Mes locations</h1>
      <% @user.bookings.each do |booking| %>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="watch-card">
          <div class="watch-card-image" style="background-image: url(<%= booking.watch.photo %>)"></div>
            <div class="watch-card-content">
              <div class="watch-card-title">
                <h4><strong><%= link_to "#{booking.owner.first_name} #{booking.owner.last_name}", booking_path(booking) %></strong></h4>
                <%= booking.watch.model %>
                <%= booking.customer.first_name %>
              </div>
              <div class="watch-card-actions">
                <span id="dates">du <%= booking.booking_start_date %> au <%= booking.booking_end_date %></span>
                <span>
                  <% if booking.watch.user.photo.present? %>
                   <%= cl_image_tag booking.watch.user.photo, height: 40, crop: :fill, class: "card-user" %>
                  <% else %>
                     <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: "card-user") %>
                  <%end%>
                </span>
              </div>
            </div>
            <%= link_to "", booking_path(booking), class: 'card-link' %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row prop" style="display:none">
      <h1 id="title-user">Mes montres</h1>
      <% @user.watches.each do |watch| %>
        <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="watch-card">
          <div class="watch-card-image" style="background-image: url(<%= watch.photo %>)"></div>
            <div class="watch-card-content">
              <div class="watch-card-title">
                <h4><strong><%= link_to "#{watch.model}", watch_path(watch) %></strong></h4>
                <%= watch.brand %>
                <%= watch.production_year %>
                <%= watch.price_per_day %>
              </div>
            </div>
            <%= link_to "", watch_path(watch), class: 'card-link' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row prop" style="display:none">
      <h1>Mes montres réservées</h1>
      <% @user.watches.each do |watch| %>
        <% watch.bookings.each do |booking| %>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="watch-card">
              <div class="watch-card-image" style="background-image: url(<%= watch.photo %>)"></div>
              <div class="watch-card-content">
                <div class="watch-card-title">
                  <h4><strong><%= link_to "#{booking.owner.first_name} #{booking.owner.last_name}", booking_path(booking) %></strong></h4>
                  <%= booking.watch.model %>
                  <%= booking.customer.first_name %>
                </div>
                <div class="watch-card-actions">
                  <span id="dates">du <%= booking.booking_start_date %> au <%= booking.booking_end_date %></span>
                  <span>
                    <% if watch.user.photo.present? %>
                     <%= cl_image_tag watch.user.photo, height: 40, crop: :fill, class: "card-user" %>
                    <% else %>
                       <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: "card-user") %>
                    <%end%>
                  </span>
                </div>
              </div>
              <%= link_to "", booking_path(booking), class: 'card-link' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
