<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= cl_image_tag @user.photo, height: 50, width: 50, crop: :fill, radius: :max %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<%= link_to 'Edit my Profil', edit_user_path(@user) %> |
