<div class="banner-home text-center" style="background-image: url('https://images.unsplash.com/photo-1488132828189-4e416661b680?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5a16bce80dad1d3afc02a021bd255357&auto=format&fit=crop&w=1650&q=80');">
  <div class="banner-content">
    <%= image_tag "montre.png", height: 50 %>
    <h1>Votre temps est précieux</h1>
    <p>Location de montres de luxe de particulier à particulier</p>
      <form action="/watches" method="get" class="form-inline searchbar">
        <input type="text" name="query" placeholder="Recherchez une montre" class="form-control search-input">
        <input type="submit" class= "btn btn-success" value="Ok">
      </form>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
        <% @watches.each do |watch| %>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="watch-card">
              <div class="watch-card-image" style="background-image: url(<%= watch.photo %>)"></div>
              <div class="watch-card-content">
                <div class="watch-card-title">
                  <div class="infos">
                    <h4><strong><%= watch.brand %></strong></h4>
                    <p><%= watch.model %></p>
                  </div>
                  <div class="average-rating">
                    <% ratings = 0 %>
                    <% total_rating = 0 %>
                    <% watch.bookings.each do |booking| %>
                      <% booking.reviews.each do |review| %>
                        <% if review.customer.present? && review.rating.present? %>
                          <% review.rating %>
                          <% total_rating = total_rating + review.rating %>
                          <% ratings += 1 %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% if total_rating != 0 %>
                      <div class="star-ratings-css">
                        <div class="star-ratings-css-top" style="width: <%= (((total_rating.fdiv(ratings)) / 5) * 110) %>%">
                          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                        <div class="star-ratings-css-bottom">
                          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="watch-card-actions">
                <span><%= watch.price_per_day %> € par jour</span>
                <span>
                  <% if watch.user.photo.present? %>
                   <%= cl_image_tag watch.user.photo, crop: :fill, class: "card-user" %>
                  <% else %>
                     <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: "card-user") %>
                  <%end%>
                </span>

              </div>
              <%= link_to "", watch_path(watch), class: 'card-link' %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <div id="map" class="map-index" data-markers="<%= @markers.to_json %>"></div>
</div>

