<div class="banner-show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/3778339157483.56295f4133a3c.jpg');">
        <%= link_to "Retour", watches_path, class: "btn-return" %>
  </div>

<div class="container">
  <div class="details">
      <h3>Proposer votre montre à la location</h3>
    <div class="row">
      <div class="description-watch col-xs-12 col-md-8 col">
        <div class="watch-description form-add">
          <%= simple_form_for @watch do |f| %>
          <p><strong>Modèle</strong></p>
          <div class="form-inline line-form">
            <%= f.input :brand, label: false, collection: @collection_brand, prompt: 'Marque' %>
            <%= f.input :model, label: false, placeholder: 'Modèle' %>
            <%= f.input :gender, label: false, prompt: 'Genre ', collection: @collection_gender %>
          </div>
          <p><strong>Décrivez votre montre</strong></p>
          <%= f.input :description, label: false, placeholder: 'Timeless elegance in consummate form: with three hands and a discreet date display, this simple automatic watch has established itself as one of the most popular Portofino models.' %>
          <p><strong>Détails</strong></p>
          <div class="form-inline line-form">
            <%= f.input :style, label: false, prompt: 'Style ', collection: @collection_style %>
            <%= f.input :production_year, label: false, prompt: 'Année', start_year: 1900, end_year: Time.now.year, order: %i(year) %>
            <%= f.input :case_material, label: false, prompt:  'Matière ', collection: @collection_case_material %>
            <%= f.input :color, label: false, prompt: 'Couleur ', collection: @collection_color %>
            <%= f.input :mechanism, label: false, prompt: 'Méchanisme ', collection: @collection_mechanism %>
            </div><br/>
            <p><strong>Ajoutez une photo</strong></p>
            <div class="form-inline line-form">
              <%= f.input :photo, label: false, as: :file %>
          </div>
        </div>
      </div>
      <div class="form-booking col-xs-12 col-md-4 col">
        <div>
          <%= f.input :price_per_day, label: 'Prix par jour', placeholder: '56' %>
          <%= f.submit "Ajouter ma montre", class: "btn btn-success btn-resa"%>
        </div>
        <div class="about-owner">
          <h3><%= "#{current_user.first_name} #{current_user.last_name}" %></h3>
          <%= link_to user_path(current_user) do %>
            <% if current_user.photo.present? %>
              <%= cl_image_tag current_user.photo, width: 100, crop: :fill, class: "avatar" %>
            <% else %>
              <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: "avatar") %>
            <%end%>
          <%end%>
          <span><%= current_user.description%></span>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
