<div class="banner-show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.luxymind.fr/wp-content/uploads/2018/01/montre-daniel-wellington.jpg');">
        <%= link_to "Retour", watches_path, class: "btn-return" %>
  </div>

<div class="container">
  <div class="details">
    <div class="row">
      <div class="description-watch col-xs-12 col-md-8 col">
        <div class="watch-description">
          <h1><%= @watch.brand %> - <%= @watch.model %></h1>
          <h4>Détails :</h4>
          <p><%= @watch.description %></p>
          <ul>
            <li>Genre : <%= @watch.gender %></li>
            <li>Style : <%= @watch.style %></li>
            <li>Couleur : <%= @watch.color %></li>
            <li>Matière : <%= @watch.case_material %></li>
            <li>Méchanisme : <%= @watch.mechanism %></li>
            <li>Année de production : <%= @watch.production_year %></li>
            <li class= "price-per-day" style="display:none"><%= @watch.price_per_day %></li>
          </ul>
        </div>
        <div class="about-owner">
          <h3><%= "Le propriétaire : #{@watch.user.first_name} #{@watch.user.last_name}" %></h3>
          <%= link_to user_path(@watch.user) do %>
            <% if @watch.user.photo.present? %>
              <%= cl_image_tag @watch.user.photo, width: 100, crop: :fill, class: "avatar" %>
            <% else %>
              <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: "avatar") %>
            <%end%>
          <%end%>
          <span><%= @watch.user.description%></span>
        </div>
      </div>
      <div class="form-booking col-xs-12 col-md-4 col">
        <%= render "bookings/newbooking" %>
        <br/>
        <div class="actions-watch">
          <p> Actions du propriétaire </p>
          <div class='btn btn-success'>
            <%= link_to "Editer", edit_watch_path(@watch.id) %>
          </div>
          <div class='btn btn-danger'>
            <%= link_to "Supprimer", watch_path(@watch.id),method: :delete, data: { confirm: "Voulez-vous vraiment supprimer votre montre de la location ?" } %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
