<div class="banner-show img-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= @watch.photo %>)">
        <%= link_to "Retour", watches_path, class: "btn-return" %>
</div>

<div class="details">
  <div class="container">
    <div class="row">
      <div class="description-watch col-xs-10 col-sm-offset-2">
        <div class="watch-description">
          <h1><%= @watch.brand %> - <%= @watch.model %></h1>
          <div class="watch-rating">
            <div class="watch-rating-stars">
              <% ratings = 0 %>
              <% total_rating = 0 %>
              <% @watch.bookings.each do |booking| %>
                <% booking.reviews.each do |review| %>
                  <% if review.customer.present? && review.rating.present? %>
                    <% review.rating %>
                    <% total_rating = total_rating + review.rating %>
                    <% ratings += 1 %>
                  <% end %>
                <% end %>
              <% end %>
              <% if total_rating != 0 %>
                <div class="star-ratings-css">
                  <div class="star-ratings-css-top" style="width: <%= (((total_rating.fdiv(ratings)) / 5) * 110) %>%">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                  </div>
                  <div class="star-ratings-css-bottom">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="watch-rating-count">
              <p><%= "(#{ratings})" %></p>
            </div>
          </div>
          <div class="description-details">
            <h4>Détails :</h4>
            <p><%= @watch.description %></p>
            <ul>
              <li>Genre : <%= @watch.gender %></li>
              <li>Style : <%= @watch.style %></li>
              <li>Couleur : <%= @watch.color %></li>
              <li>Matière : <%= @watch.case_material %></li>
              <li>Méchanisme : <%= @watch.mechanism %></li>
              <li>Année de production : <%= @watch.production_year %></li>
              <li class= "price-per-day" style="display:none"><%= @watch.price_per_day %></li>
            </ul>
          </div>
        </div>
        <div class="about-owner">
          <div id="map" class="map-show" data-markers="<%= @markers.to_json %>"></div>
          <table style="width: 100%;" >
          <tbody>
          <tr>
          <td style="width: 20%; text-align: center;"><%= link_to user_path(@watch.user) do %>
            <% if @watch.user.photo.present? %>
              <%= cl_image_tag @watch.user.photo, crop: :fill, class: "avatar-big show-watch" %>
            <% else %>
              <%= image_tag('https://www.limestone.edu/sites/default/files/user.png', class: "avatar") %>
            <%end%>
          <%end%></td>
          <td><h3><%= "Bonjour, je m'appelle #{@watch.user.first_name}" %></h3>
            <span style="font-size: 12px; font-weight: lower;">Membre depuis le <%= @watch.user.created_at %><span>
          </td>
          </tr>
          </tbody>
          </table>
          <br>
          <span><%= @watch.user.description%></span>
        </div>
        <div class="review text-left">
          <h3>Les avis des autres locataires</h3>
          <% @watch.bookings.each do |booking| %>
            <% booking.reviews.each do |review| %>
              <% if review.customer != nil %>
                <div class="review">
                  <div class="review-display">
                    <div class="avatar-review">
                      <%= cl_image_tag review.customer.photo, crop: :fill, class: "pic-customer-booking" %>
                    </div>
                    <div class="details-review">
                        <h4><%= "Review de #{review.customer.first_name}" %></br></h4>
                      <p><%= review.comment %></br></p>
                      <% review.rating.to_i.times do %>
                        <i class="fas fa-star yellow-stars"></i>
                      <% end %>
                      <% (5 -review.rating.to_i).times do %>
                        <i class="fas fa-star grey-stars"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<div id="price-box">
        <div class="form-booking">
          <%= render "bookings/newbooking" %>
          <br/>
          <% if current_user == @watch.user %>
            <div class="actions-watch">
              <p><strong> Propriétaire </strong></p>
              <p> Vous pouvez éditer ou supprimer la fiche de cette montre.</p>
              <div class='btn btn-success'>
                <%= link_to "Editer", edit_watch_path(@watch.id) %>
              </div>
              <div class='btn btn-danger'>
                <%= link_to "Supprimer", watch_path(@watch.id),method: :delete, data: { confirm: "Voulez-vous vraiment supprimer votre montre de la location ?" } %>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
