<% if review.customer != nil %>
  <div class="review-display">
    <div class="avatar-review">
      <%= cl_image_tag review.customer.photo, crop: :fill, class: "pic-customer-booking" %>
    </div>
    <div class="details-review">
      <h4><%= "Review de #{review.customer.first_name}" %></br></h4>
      <p><%= review.comment %></br></p>
      <% review.rating.to_i.times do %>
        <i class="fas fa-star yellow-stars"></i>
      <% end %>
      <% (5 -review.rating.to_i).times do %>
        <i class="fas fa-star grey-stars"></i>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<% if review.owner != nil %>
<div class="review">
  <div class="review-display">
    <div class="avatar-review">
      <%= cl_image_tag review.owner.photo, crop: :fill, class: "pic-customer-booking" %>
    </div>
    <div class="details-review">
      <h4><%= "Review de #{review.owner.first_name}" %></br></h4>
      <p><%= review.comment %></br></p>
      <% review.rating.to_i.times do %>
        <i class="fas fa-star yellow-stars"></i>
      <% end %>
      <% (5 -review.rating.to_i).times do %>
        <i class="fas fa-star grey-stars"></i>
      <% end %>
    </div>
<% end %>
